.view-frame.ng-enter {
  opacity: 0;
  transition: 0.25s;
}
.view-frame.ng-enter-active {
  opacity: 1;
}
.view-frame.ng-leave {
  opacity: 1;
  transition: 0.25s;
}
.view-frame.ng-leave-active {
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  body {
    padding-left: calc(100vw - 100%);
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .products-list {
    justify-content: center;
  }
}
.product-item {
  margin: 0 0 6rem;
}
.product-item__controls {
  display: flex;
  justify-content: center;
}
.product-item__cost {
  font-size: 1.7em;
  margin-right: 1em;
}
.product-item__btn--remove {
  display: none;
}
.added .product-item__btn--add {
  display: none;
}
.added .product-item__btn--remove {
  display: block;
}

.basket {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 8rem;
}
.baket__empty,
.basket__container {
  margin-top: 1rem;
  width: 100%;
}

.checkout-item {
  display: flex;
  height: 10rem;
  position: relative;
}
.checkout-item__title {
  display: flex;
  width: 68.4%;
}
.checkout-item__img-container {
  width: 11rem;
}
.checkout-item__img-container img {
  max-height: 100%;
}
.checkout-item__remove {
  left: -60px;
  position: absolute;
  top: 35px;
}
.flex-v-center {
  align-items: center;
  display: flex;
}
.checkout-item__name {
  font-weight: bold;
  padding: 0 2rem;
}
.checkout-item__count {
  min-width: 12rem;
  width: 12rem;
}
.checkout-item__amount {
  padding: 0 2rem;
}
@media screen and (max-width: 1100px) {
  .checkout__items {
    margin-left: 6.2rem;
  }
}
@media screen and (max-width: 640px) {
  .header {
    margin-bottom: 3rem;
  }
  .checkout-item {
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-end;
    margin: 0 0 2rem;
  }
  .checkout-item__title {
    margin: 0 0 1rem;
    width: 100%;
  }
  .checkout-item__remove {
    top: 24px;
  }
}
.checkout__items {
  position: relative;
}
.checkout__meta {
  margin: 3rem 0 0;
}
.checkout__form {
  margin: 3rem 0;
  max-width: 500px;
}

a.h4 {
  display: block;
}