@media screen and (min-width: 1024px) {
  body {
    padding-left: calc(100vw - 100%);
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .products-list {
    justify-content: center;
  }
}
.product-item {
  margin: 0 0 6rem;
}
.product-item__controls {
  display: flex;
  justify-content: center;
}
.product-item__cost {
  font-size: 1.7em;
  margin-right: 1em;
}
.product-item__btn--remove {
  display: none;
}
.added .product-item__btn--add {
  display: none;
}
.added .product-item__btn--remove {
  display: block;
}

.basket {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 8rem;
}
.basket__container {
  margin-top: 1rem;
  width: 100%;
}