<div class="products-list" zoom-img>
  <div class="col-md-4 col-sm-6 text-center product-item"
       ng-repeat="product in vm.products"
       ng-class="{added: vm.isAdded(product.id)}">
    <div class="product-item__img-container">
      <img ng-src="{{::product.imageUrl}}"
           alt="product.name"
           class="img-responsive center-block">
    </div>
    <div class="h4" ng-bind="::product.name"></div>
    <div class="row">
      <div class="product-item__controls">
        <span class="product-item__cost">$<span class="cost" ng-bind="::product.cost"></span></span>
        <button class="btn btn-success product-item__btn product-item__btn--add" ng-click="vm.addToCart($event, product.id)">
          <i class="fa fa-shopping-cart"></i> Add to cart
        </button>
        <button class="btn btn-info product-item__btn product-item__btn--remove" ng-click="vm.removeFromCart($event, product.id)">
          <i class="fa fa-shopping-cart"></i> Remove from cart
        </button>
      </div>
    </div>
  </div>
</div>